<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.moltbook.weekly-analysis</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/caffeinate</string>
		<string>-s</string>
		<string>bash</string>
		<string>{{PROJECT_ROOT}}/scripts/weekly-analysis.sh</string>
	</array>

	<key>WorkingDirectory</key>
	<string>{{PROJECT_ROOT}}</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>

	<key>StartCalendarInterval</key>
	<dict>
		<key>Weekday</key>
		<integer>{{WEEKDAY}}</integer>
		<key>Hour</key>
		<integer>{{HOUR}}</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>

	<key>StandardOutPath</key>
	<string>{{LOG_PATH}}</string>
	<key>StandardErrorPath</key>
	<string>{{LOG_PATH}}</string>
</dict>
</plist>
